header {
  max-width: 350px;
  width: 100%;
  padding-inline: 1rem;
  margin-block: 1rem 3rem;
  margin-inline: auto;
  width: 100%;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;

    .logo {
      width: 137.94px;
      img {
        width: 100%;
      }
    }
    .nav-right {
      padding: 0.75rem 1rem;
      background-color: var(--neutral-800);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.625rem;
    }
  }
}
@media (width >= 720px) {
  header {
    margin-inline: auto;
    max-width: 720px;
    nav {
      width: 100%;
    }
  }
}
@media (width >= 80rem) {
  header {
    margin-inline: auto;
    max-width: 80rem;
    width: 100%;
    margin-block: 1rem 4rem;
    nav {
      .logo {
        width: 200px;
        img {
          width: 100%;
        }
      }
    }
  }
}
