header {
  padding-inline: 1rem;
  margin-block: 1rem 3rem;
  margin-inline: auto;
  width: 100%;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;

    .logo {
      width: 107.15px;
    }
    .nav-right {
      padding: 0.75rem 1rem;
      background-color: var(--neutral-800);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }
}
@media (width >= 760px) {
  header {
    margin-inline: auto;
    max-width: 760px;
    nav {
      width: 100%;
    }
  }
}
@media (width >= 80rem) {
  header {
    max-width: 76rem;
    margin-block: 1rem 4rem;
  }
}
