.hero {
  margin-inline: auto;
  h1 {
    text-align: center;
    margin-inline: auto;
    width: 343px;
    font-size: 52px;
  }
}

@media (width >= 760px) {
  .hero {
    h1 {
      width: 500px;
    }
  }
}

@media (width >= 80rem) {
  .hero {
    h1 {
      width: 730px;
    }
  }
}
