.hero {
  margin-inline: auto;
  width: 100%;
  h1 {
    margin: 0;
    padding-inline: 1rem;
    text-align: center;
    font-family: var(--ff-bricolage);
    font-size: 52px;
  }
}

@media (width >= 500px) {
  .hero {
    h1 {
      margin-inline: auto;
      width: 500px;
    }
  }
}

@media (width >= 80rem) {
  .hero {
    h1 {
      width: 730px;
    }
  }
}
